html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
a img {
	border: none;
}
html {
	background: #eeeeee;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
}
#topnav, #account {
	background: none repeat scroll 0 0 white;
	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
	margin: 0 auto 40px;
	padding: 20px;
	width: 480px;
}
.account_section ul li {
	line-height: 50px;
}
.account_section ul li label {
	width: 300px;
	color: blue;
}
#editable_account_details {
	display: none;
}